<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='logo.jpg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Assessment</h1>
        <p class="instructions">Please provide ratings between 0 and 3 for each question.</p> <!-- New line added here -->
        <form action="/submit" method="post">
            {% for key, question in questions.items() %}
                <label for="{{ key }}">{{ question }}</label><br>
                <input type="number" id="{{ key }}" name="{{ key }}" min="0" max="3" required><br><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
